* {box-sizing: border-box}

h5 {
text-align: center;
}
#signinText {
  color: white;
}

.checkbox{ 
  text-align: center
}

#signInRegisterButton{
    background-color: rgba(255, 255, 255, 0.815);
    padding: 0px 0px;
    margin-left: 10pt;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 12%;
    margin-bottom: 14%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#signin-div{
  background: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: -2%;
  margin-left: -1%;
}

form{
  border: 0 !important;
}